footer{
    background-color: #4d4d4d;
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
}

.left-footer{
    color: #fff;
}

.right-footer{
    color: #fff;
}

.right-footer a{
    text-decoration: none;
    color: #fd5c63;
}
